@charset "utf-8";


/*reset*/
body,div,h3,form,p,label,input,select,option,span,textarea{
    margin:0;
    padding:0;
}
body,input,select,option,textarea{
    font:normal 14px/1.5em nanum,sans-serif;
    background-color:#fff;
    color:#333;
}
input,select,option,textarea{
    outline:none;
}
/*폰트*/
@font-face{
		font-family:nanum;
		src:url('../font/NanumGothic.eot');
		src:url('../font/NanumGothic.eot?#iefix')format('embedded-opentype'),
			url('../font/NanumGothic.ttf')format('truetype'),
			url('../font/NanumGothic.woff')format('woff');
}
/*wrap*/
#wrap{
    width:602px;
    height:470px;
    margin:20px auto;
}/*전체*/
#wrap > h3{
    height:20px;
    margin-bottom:20px;
    text-align:center;
}/*회원가입폼*/
#form_wrap{
    width:600px;
    border:1px solid #999;
}
.line{
    height:40px;
    border-bottom:1px solid #999;
    clear:both;
} /*공통*/
.line2{
    height:130px;
    border-bottom:none;
}/*자기소개*/
.l_con{
    background-color:#ccccff;
    width:100px;
    height:40px;
    display:block;
    float:left;
    text-indent:10px;
    line-height:40px;
}/*좌측 공통*/
.l_con2{
    height:130px;
} /*좌측 자기소개*/
.r_con{
    float:left;
    width:500px;
    padding-left:10px;
    box-sizing:border-box;
    height:40px;
    line-height:40px;
}/*우측공통*/
.r_con2{
    height:130px;
}/*우측 자기소개*/
#wrap input,#u_tel1, .email3 select,#write{
    border:1px solid #999;
} /*공통*/
.infor{
    color:red;
}/*공통*/
/*이름 아이디 패스워드*/
#u_name,#u_id,#u_pwd{
    width:200px;
    height:25px;
    text-indent:10px;
}

#chk1,#chk2{
    vertical-align:-2px;
}/*남자 여자*/

/*연락처*/
.tel1,.tel2,.tel3,.tel4,.tel5{
    float:left;
}
.tel2,.tel4{
    margin:0 5px;
}/*span*/
#u_tel,#u_tel2,#u_tel3{
    width:100px;
    height:25px;
    text-indent:10px;
}/*연락처 select,input*/
.email1,.email2,.email3{
    float:left;
}/*이메일*/
.email2{
    margin:0 5px;
}/*span @ */
#u_email,.email3 select{
    height:25px;
    text-indent:10px;
}/*이메일 input,select*/
#write{
    width:300px;
    height:100px;
    margin-top:13px;
    resize:none;
}/*자기소개*/
.btn{
    height:30px;
    margin-top:10px;
    text-align:center;
}/*회원가입,다시작성*/
.btn input{
    width:100px;
    height:25px;
    cursor:pointer;
}
.btn input:hover{
    background-color:#999;
    color:#fff;
}