@charset "utf-8";


div,input,label,span{
  margin:0;
  padding:0;
}
body{
  font:normal 20px/1.5em "맑은 고딕","Malgun Gothic",sans-serif;
  color:#333;
}
/*wrap*/
#wrap1{
  margin:30px;
}
.container1{
  -webkit-user-select:none;
  -ms-user-select:none; 
  user-select:none; /*드래그 못함*/
  padding-left:35px;
  position:relative;
}
.container1 label{
  cursor:pointer;
}
.container1 input{
  position:absolute;
  left:0;
  top:2px;
  width:25px;
  height:25px;
  cursor:pointer;
  z-index:2;
  opacity:0;
}
.check1{
  position:absolute;
  left:0;
  top:2px;
  width:25px;
  height:25px;
  background-color:#eee;
  border-radius:50%;
  color:transparent; /*글자를 투명하게*/
}
.check1::after{
  content:"";
  position:absolute;
  left:9px;
  top:8px;
  background-color:#fff;
  width:8px;
  height:8px;
  border-radius:50%;
  display:none;
}
.container1 input:checked + .check1{
  background-color:#cc9933;
}
.container1 input:checked + .check1::after{
  display:block;
}
/*wrap2*/
#wrap2{
  margin:30px;
}
.container2{
  -webkit-user-select:none;
  -ms-user-select:none; 
  user-select:none; /*드래그 못함*/
  padding-left:35px;
  position:relative;
}
.container2 label{
  cursor:pointer;
}
.container2 input{
  position:absolute;
  left:0;
  top:2px;
  width:25px;
  height:25px;
  cursor:pointer;
  z-index:2;
  opacity:0;
}
.check2{
  position:absolute;
  left:0;
  top:2px;
  width:25px;
  height:25px;
  background-color:#eee;
/*  border-radius:50%;*/
  color:transparent; /*글자를 투명하게*/
}
.check2::after{
  content:"";
  position:absolute;
  left:9px;
  top:8px;
  background-color:#fff;
  width:8px;
  height:8px;
/*  border-radius:50%;*/
/*  display:none;*/
}
.container2 input:checked + .check2{
  background-color:#cc9933;
}
/*wrap3*/
#wrap3{
  margin:30px;
}
.container3{
  -webkit-user-select:none;
  -ms-user-select:none; 
  user-select:none; /*드래그 못함*/
  padding-right:22px;
  float:left;
  position:relative;
  margin-right:20px;
}
.container3 label{
  cursor:pointer;
}
.container3 input{
  position:absolute;
  right:0;
  top:4px;
  width:15px;
  height:15px;
  cursor:pointer;
  z-index:2;
  opacity:0;
}
.check3{
  position:absolute;
  right:0;
  top:6px;
  width:15px;
  height:15px;
/*  background-color:#eee;*/
  border:1px solid #666;
/*  border-radius:50%;*/
  color:transparent; /*글자를 투명하게*/
}
.check3::after{
  content:"√";
  color:#333;
  font-size:11px;
  position:absolute;
  left:3px;
  top:0;
/*  background-color:#fff;*/
/*  border-radius:50%;*/
/*  display:none;*/
  line-height:15px;
  display:none;
}
.container3 input:checked + .check3{
  background-color:yellow;
}
.container3 input:checked + .check3::after{
  display:block;
}