@charset "utf-8";


#ex1{
    width: 80%;
    border:1px solid green;
    margin:20px auto;
}
#ex1 video{
    width:100%;
    height:auto;
    vertical-align:top;
}

#ex2{
    width: 95%;
    border:1px solid green;
    margin:20px auto;
    position: relative;
}
#ex2 video{
    min-width:100%;
    width:100%;
    height:auto;
}
#ex2 p{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    font-size:2vw;
}