@charset "utf-8";

#ex1 iframe{
    border:none;
}
#ex2 a{
    text-decoration:none;
    color:#000000;
}
#ex2_2 iframe{
    border:none;
}
#ex3 iframe{
    border:5px groove #336633;
}
#ex4 iframe{
    border:none;
}
#ex5 iframe{
    border:double 3px #773344;
}