@charset "utf-8";


#main_img{
  clear:both;
  width:100%;
  height:526px;
  background:url(../images/main.jpg) no-repeat 50% 0;
  position:relative;
  min-width:1200px;
}
.btn_wrap{
  position:absolute;
  left:50%;
  bottom:80px;
  transform:translate(-50% 0)
}
.btn_wrap img{
  float:left;
  margin:0 3px;
}