@charset "utf-8";

@import url("top.css");
@import url("contents.css");

/*reset*/
body{
  font:normal 12px/1.5em nanum,sans-serif;
  color:#333;
}

a{
  color:#333;
}
@font-face{
		font-family:nanum;
		src:url('../font/NanumGothic.eot');
		src:url('../font/NanumGothic.eot?#iefix')format('embedded-opentype'),
			url('../font/NanumGothic.ttf')format('truetype'),
			url('../font/NanumGothic.woff')format('woff');
}
