@charset "utf-8";

/*아이폰pro*/
@keyframes pro_col_ani{
  20%{
    color:#23bfde;
  }
  40%{
    color:#4223de;
  }
  60%{
    color:#23de42;
  }
  80%{
    color:#de4223;
  }
}
/*아이폰14*/
@keyframes nor_col_ani{
  20%{
    color:#272919;
  }
  40%{
    color:#27182c;
  }
  60%{
    color:#272b41;
  }
  80%{
    color:#0071e3;;
  }
}
/*아이폰se*/
@keyframes se_col_ani{
  20%{
    color:#272bb0;
  }
  40%{
    color:#46ffe9;
  }
  60%{
    color:#272bb0;
  }
  80%{
    color:#46ffe9;
  }
}
/*워치 울트라*/
@keyframes wcul_col_ani{
  20%{
    color:#ff680e;
  }
  40%{
    color:#f3630d;
  }
  60%{
    color:#cc530b;
  }
  80%{
    color:#f37931;
  }
}
/*아이패드 프로*/
@keyframes ipdp_col_ani{
  20%{
    color:#b00062;
  }
  40%{
    color:#b01f70;
  }
  60%{
    color:#d70077;
  }
  80%{
    color:#fd2da0;
  }
}
/*애플티비 4k*/
@keyframes tv4k_col_ani{
  20%{
    color:#333;
  }
  40%{
    color:#666;
  }
  60%{
    color:#999;
  }
  80%{
    color:#f9f9f9;
  }
}
/*애플워치 SE */
@keyframes wcse_col_ani{
  20%{
    color:#ee395b;
  }
  40%{
    color:#b8183c;
  }
  60%{
    color:#97031b;
  }
  80%{
    color:#edb45b;
  }
}
/*중단 전체*/
#contents_wrap{
  clear:both;
  width:100%;
  height:900px;
  clear:both;
  color:#fff;
  display:inline;
  font:normal 13px/1.4em Arial,sans-serif;
  min-width:1920px;
  position:relative;
}
/* enterprise_login 기업로그인 */
#enterprise_login{
  border:3px solid #666;
  width:300px;
  height:180px;
  padding-top:50px;
  text-align:center;
  background-color:#000;
  z-index:110;
  position:fixed;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
#enterprise_login p{
  margin:10px 0;
  
}
/* 모달태그 */
#layer{
  width:100%;
  height:100%;
  background-color:black;
  position:fixed;
  left:0;
  top:0;
  opacity:0.80;
  z-index:90;
}
/* quick_m 빠른메뉴 개인로그인 기업로그인 */
#quick_m {
  position:absolute;
  top:600px;
  right:50px;
  width:80px;
  height:250px;
  position:fixed;
  z-index:11;
}
#quick_m li{
  width:80px;
  height:84px;
  box-sizing:border-box;
  text-align:center;
  border-radius:50px;
  margin-bottom:10px;
}
#quick_m li:nth-child(2){
  border-top:none;
}
#quick_m li:nth-child(1) a{
  background:#fff url(../images/quick2.png) no-repeat center 15px;
  border-radius:50px;
}
#quick_m li:nth-child(2) a{
  background:#fff url(../images/quick3.png) no-repeat center 15px;
  border-radius:50px;
}
#quick_m li a{
  width:100%;
  height:100%;
  display:block;
  padding-top:50px;
  box-sizing: border-box;
  color:#292a2a;
  font-weight:bold;
}
/* 마크업때 클래스 추가안함 js로 클래스 추가해서 사용할것 */
#quick_m li a.sel{
  color:#fff;
  background-color:#111214;
}
/*contents_pro*/
#contents_pro{
  width:1920px;
  height:900px;
  background:url(../images/pro_banner.jpg) no-repeat center bottom;
  background-color:#000000;
  background-size:760px;
  position:relative;
  margin:0px auto;
  margin-bottom:20px;
}
/*iPhone 14 pro / 프로 그 이상.*/
#contents_pro > h1{
  text-align:center;
  position:absolute;
  letter-spacing:-2px;
  display:inline-block;
}
/*iPhone 14 pro*/
#contents_pro > h1:nth-of-type(1){
  top:120px;
  left:895px;
  font-size:24px;
}
/*프로 그 이상.*/
#contents_pro > h1:nth-of-type(2){
  top:190px;
  left:830px;
  font-size:50px;
}
#contents_pro > h1:nth-of-type(2) span{
  animation:pro_col_ani 3s infinite linear;
  color:#de2362;
}
#contents_pro h1 span:nth-child(2){
  animation-delay:0.3s;
}
#contents_pro h1 span:nth-child(3){
  animation-delay:0.6s;
}
#contents_pro h1 span:nth-child(4){
  animation-delay:0.9s;
}
/* ₩1,550,000부터.../구입하기/더 알아보기 */
#contents_pro > p{
  text-align:center;
  position:absolute;
  letter-spacing:-2px;
  display:inline-block;
  font-size:21px;
  border:none;
  outline:none;
}
/*₩1,550,000부터...*/
#contents_pro > p:nth-of-type(1){
  top:260px;
  left:790px;
  letter-spacing:-1px;
}
/* 보상판매"*" */
#contents_pro > p:nth-of-type(1) a:hover{
  cursor:pointer;
  color:#0071e3;
}
/*구입하기*/
#contents_pro > p:nth-of-type(2){
  top:310px;
  left:860px;
  font-size:16px;
  width:90px;
  height:35px;
  line-height:35px;
  background-color:#0071e3;
  border-radius:20px;
  cursor:pointer;
}
/*더 알아보기*/
#contents_pro > p:nth-of-type(3){
  top:310px;
  left:980px;
  width:120px;
  height:35px;
  line-height:35px;
  font-size:18px;
  cursor:pointer;
}
/* 구입하기/더 알아보기 */
#contents_pro p a{
  font-weight:bold
}
/*구입하기*/
#contents_pro > p:nth-of-type(2):hover{
  background-color:#0091e0;
}
/*더 알아보기*/
#contents_pro > p:nth-of-type(3) a{
  color:#0071e3;
}
#contents_pro > p:nth-of-type(3):hover{
  text-decoration:underline;
}
/*SERIES LIFE IS GOOD*/
#contents_series{
  width:1920px;
  height:500px;
  background-color:#fff;
  margin:0px auto;
  color:#000;
  text-align:center;
  position:relative;
  background-color:#ffffff;
}
#series_wrap ul{
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
  background-color:#ffffff;
  cursor:default;
}
#series_wrap h1{
  font-size:30px;
  padding-top:30px;
  padding-bottom:15px;
  line-height:1em;
  color:#4774d9;
}
#series_wrap ul li{
  width:300px;
  height:400px;
  float:left;
  margin-right:40px;
  padding-top:30px;
}
#series_wrap ul li img{
  cursor:pointer;
}
#series_wrap ul li p{
  margin-top:10px;
  margin-bottom:12px;
  font-size:17px;
  font-weight:bold;
  color:#444;
}
/* contents_nor */
#contents_nor{
  width:1920px;
  height:900px;
  background:url(../images/twohand_iPhone_banner.jpg) no-repeat center bottom;
  background-color:#fbfbfd;
  background-size:5000px;
  position:relative;
  margin:0px auto;
  margin-bottom:20px;
  color:#000;
}
/*iPhone 14 / 크게. 더 크게..*/
#contents_nor > h1{
  text-align:center;
  position:absolute;
  letter-spacing:-2px;
}
/*iPhone 14*/
#contents_nor h1:nth-of-type(1){
  top:120px;
  left:895px;
  font-size:24px;
}
/*크게. 더 크게.*/
#contents_nor > h1:nth-of-type(2){
  top:190px;
  left:790px;
  font-size:50px;
}
#contents_nor > h1:nth-of-type(2) span{
  animation:nor_col_ani 3s infinite linear;
  color:#63560f;
  letter-spacing:-2px;
}
#contents_nor h1 span:nth-child(2){
  animation-delay:0.3s;
  margin-left:-9px;
}
#contents_nor h1 span:nth-child(3){
  animation-delay:0.6s;
  margin-left:9px;
  margin-right:9px;
}
#contents_nor h1 span:nth-child(4){
  animation-delay:0.9s;
  margin-right:-9px;
}
#contents_nor h1 span:nth-child(5){
  animation-delay:1.2s;
}
/* ₩1,250,000부터.../구입하기/더 알아보기 */
#contents_nor > p{
  text-align:center;
  position:absolute;
  letter-spacing:-2px;
  display:inline-block;
  font-size:21px;
  border:none;
  outline:none;
}
/*₩1,250,000부터...*/
#contents_nor > p:nth-of-type(1){
  top:260px;
  left:770px;
  letter-spacing:-1px;
}
/* "*" */
#contents_nor > p:nth-of-type(1) a{
  color:#111;
}
#contents_nor > p:nth-of-type(1) a:hover{
  cursor:pointer;
  color:#0071e3;
}
/*구입하기/더 알아보기*/
#contents_nor p a{
  font-weight:bold
}
/*구입하기*/
#contents_nor > p:nth-of-type(2){
  top:310px;
  left:840px;
  font-size:16px;
  width:90px;
  height:35px;
  line-height:35px;
  background-color:#0071e3;
  border-radius:20px;
  cursor:pointer;
}
#contents_nor > p:nth-of-type(2):hover{
  background-color:#0091e0;
}
/*더 알아보기*/
#contents_nor > p:nth-of-type(3){
  top:310px;
  left:960px;
  width:120px;
  height:35px;
  line-height:35px;
  font-size:18px;
  cursor:pointer;
}
#contents_nor > p:nth-of-type(3) a{
  color:#0071e3;
}
#contents_nor > p:nth-of-type(3):hover{
  text-decoration:underline;
}

/*contents_se*/
#contents_se{
  width:1920px;
  height:900px;
  background:url(../images/SE_banner.jpg) no-repeat center bottom;
  background-color:#fbfbfd;
  background-size:310px;
  position:relative;
  margin:0px auto;
  margin-bottom:20px;
  color:#000;
}
/*iPhone se/ 거침 없는 파워...*/
#contents_se > h1{
  text-align:center;
  position:absolute;
  letter-spacing:-2px;
}
/*iPhone se*/
#contents_se h1:nth-of-type(1){
  top:90px;
  left:915px;
  font-size:30px;
}
/*거침 없는 파워...*/
#contents_se > h1:nth-of-type(2){
  top:150px;
  left:790px;
  font-size:50px;
  line-height:1em;
}
#contents_se > h1:nth-of-type(2) span{
  animation:se_col_ani 3s infinite linear;
  color:#4646ae;
}
#contents_se h1 span:nth-child(2){
  animation-delay:0.3s;
  margin-left:-8px;
}
#contents_se h1 span:nth-child(3){
  animation-delay:0.6s;
}
#contents_se h1 span:nth-child(4){
  animation-delay:0.9s;
  margin-left:-8px;
}
#contents_se h1 span:nth-child(5){
  animation-delay:1.2s;
}
#contents_se h1 span:nth-child(6){
  animation-delay:1.5s;
  margin-left:-8px;
}
#contents_se h1 span:nth-child(7){
  animation-delay:0.3s;
}
#contents_se h1 span:nth-child(8){
  animation-delay:0.6s;
  margin-left:-8px;
}
#contents_se h1 span:nth-child(9){
  animation-delay:0.9s;
}
#contents_se h1 span:nth-child(10){
  animation-delay:1.2s;
  margin-left:-8px;
}
#contents_se h1 span:nth-child(11){
  animation-delay:1.5s;
}
#contents_se h1 span:nth-child(12){
  animation-delay:1.5s;
  margin-left:-8px;
}
/*₩650,000부터.../구입하기/더 알아보기*/
#contents_se > p{
  text-align:center;
  position:absolute;
  letter-spacing:-2px;
  display:inline-block;
  font-size:21px;
  border:none;
  outline:none;
}
/*₩650,000부터...*/
#contents_se > p:nth-of-type(1){
  top:280px;
  left:805px;
  letter-spacing:-1px;
}
/* "*" */
#contents_se > p:nth-of-type(1) a{
  color:#000;
}
#contents_se > p:nth-of-type(1) a:hover{
  cursor:pointer;
  color:#0071e3;
}
/*구입하기 / 더 알아보기*/
#contents_se p a{
  font-weight:bold
}
/*구입하기*/
#contents_se > p:nth-of-type(2){
  top:330px;
  left:850px;
  font-size:16px;
  width:90px;
  height:35px;
  line-height:35px;
  background-color:#0071e3;
  border-radius:20px;
  cursor:pointer;
}
#contents_se > p:nth-of-type(2):hover{
  background-color:#0091e0;
}
/*더 알아보기*/
#contents_se > p:nth-of-type(3){
  top:330px;
  left:970px;
  width:120px;
  height:35px;
  line-height:35px;
  font-size:18px;
  cursor:pointer;
}
#contents_se > p:nth-of-type(3) a{
  color:#0071e3;
}
#contents_se > p:nth-of-type(3):hover{
  text-decoration:underline;
}
/*WATCH ULTRA, WATCH 8, iPad Pro, apple tv 4k, AirPods Pro, WATCH SE 전체*/
#contents_6commer{
  width:1920px;
  height:1810px;
  clear:both;
  position:relative;
  margin-left:auto;
  margin-right:auto;
}
#contents_6commer > div{
  width:940px;
  height:600px;
  margin-top:10px;
}
/*워치 울트라*/
#contents_6commer div:nth-child(1){
  margin-top:0;
  float:left;
  background:url(../images/watch_ultra_medium.jpg) no-repeat center bottom;
  background-color:#fbfbfd;
  background-size:400px;
  position:relative;
  color:#000;
}
#contents_wcul > h1{
  position:absolute;
}
/*워치울트라 로고*/
#contents_wcul h1:nth-of-type(1){
  left:377px;
  top:46px;
}
/* 모험을 위한 시간 */
#contents_wcul h1:nth-of-type(2){
  left:391px;
  top:135px;
  font-size:22px;
}
#contents_wcul h1:nth-of-type(2) span{
  animation:wcul_col_ani 3s infinite linear;
  color:orange;
}
#contents_wcul h1 span:nth-child(2){
  animation-delay:0.3s;
  margin-left:-8px;
}
#contents_wcul h1 span:nth-child(3){
  animation-delay:0.6s;
  margin-left:-8px;
}
#contents_wcul h1 span:nth-child(4){
  animation-delay:0.9s;
}
#contents_wcul h1 span:nth-child(5){
  animation-delay:1.2s;
  margin-left:-8px;
}
#contents_wcul h1 span:nth-child(6){
  animation-delay:1.5s;
}
#contents_wcul h1 span:nth-child(7){
  animation-delay:0.3s;
  margin-left:-8px;
}
/*₩1,149,000부터.../구입하기/더 알아보기*/
#contents_wcul > p{
  text-align:center;
  position:absolute;
  letter-spacing:-2px;
  display:inline-block;
  font-size:21px;
  border:none;
  outline:none;
}
/*₩1,149,,000부터...*/
#contents_wcul > p:nth-of-type(1){
  left:345px;
  top:165px;
  letter-spacing:-1px;
  font-size:15px;
}
/* "*" */
#contents_wcul > p:nth-of-type(1) a{
  color:#000;
}
#contents_wcul > p:nth-of-type(1) a:hover{
  cursor:pointer;
  color:#0071e3;
}
/*구입하기 / 더 알아보기*/
#contents_wcul p a{
  font-weight:bold
}
/*구입하기*/
#contents_wcul > p:nth-of-type(2){
  left:345px;
  top:215px;
  font-size:18px;
  width:90px;
  height:35px;
  line-height:35px;
  border-radius:20px;
  cursor:pointer;
}
#contents_wcul p:nth-of-type(2):hover{
  text-decoration:underline;
}
/*더 알아보기*/
#contents_wcul p:nth-of-type(3){
  left:480px;
  top:215px;
  width:120px;
  height:35px;
  line-height:35px;
  font-size:18px;
  cursor:pointer;
}
#contents_wcul p a{
  color:#0071e3;
}
#contents_wcul > p:nth-of-type(3):hover{
  text-decoration:underline;
}
/*워치 8*/
#contents_6commer div:nth-child(2){
  float:right;
  margin-top:0;
  background:url(../images/watch_8_large.jpg) no-repeat center bottom;
  background-size:734px;
  position:relative;
  color:#fff;
  background-color:#000;
}
/*워치8 로고*/
#contents_wc8 > h1{
  position:absolute;
}
#contents_wc8 h1:nth-of-type(1){
  right:377px;
  top:60px;
}
/* 건강하게 앞서 나아가다. */
#contents_wc8 h1:nth-of-type(2){
  right:328px;
  top:135px;
  font-size:22px;
}
#contents_wc8 h1:nth-of-type(2) span{
  animation:se_col_ani 3s infinite linear;
  color:#4646ae;
}
#contents_wc8 h1 span:nth-child(2){
  animation-delay:0.4s;
  margin-left:-8px;
}
#contents_wc8 h1 span:nth-child(3){
  animation-delay:0.8s;
  margin-left:-8px;
}
#contents_wc8 h1 span:nth-child(4){
  animation-delay:1.2s;
  margin-left:-8px;
}
#contents_wc8 h1 span:nth-child(5){
  animation-delay:1.6s;
}
#contents_wc8 h1 span:nth-child(6){
  animation-delay:2.0s;
  margin-left:-8px;
}
#contents_wc8 h1 span:nth-child(7){
  animation-delay:2.4s;
}
#contents_wc8 h1 span:nth-child(8){
  animation-delay:2.8s;
  margin-left:-8px;
}
#contents_wc8 h1 span:nth-child(9){
  animation-delay:3.2s;
  margin-left:-8px;
}
#contents_wc8 h1 span:nth-child(10){
  animation-delay:3.6s;
  margin-left:-8px;
}
/*₩599,000부터.../구입하기/더 알아보기*/
#contents_wc8 > p{
  text-align:center;
  position:absolute;
  letter-spacing:-2px;
  display:inline-block;
  font-size:21px;
  border:none;
  outline:none;
}
/*₩599,,000부터...*/
#contents_wc8 > p:nth-of-type(1){
  right:325px;
  top:165px;
  letter-spacing:-1px;
  font-size:15px;
}
/* "*" */
#contents_wc8 > p:nth-of-type(1) a{
  color:#fff;
}
#contents_wc8 > p:nth-of-type(1) a:hover{
  cursor:pointer;
  color:#0071e3;
}
/*구입하기 / 더 알아보기*/
#contents_wc8 p a{
  font-weight:bold
}
/*구입하기*/
#contents_wc8 > p:nth-of-type(2){
  right:480px;
  top:215px;
  font-size:18px;
  width:90px;
  height:35px;
  line-height:35px;
  border-radius:20px;
  cursor:pointer;
}
#contents_wc8 p:nth-of-type(2):hover{
  text-decoration:underline;
}
/*더 알아보기*/
#contents_wc8 p:nth-of-type(3){
  right:310px;
  top:215px;
  width:120px;
  height:35px;
  line-height:35px;
  font-size:18px;
  cursor:pointer;
}
#contents_wc8 p a{
  color:#0071e3;
}
#contents_wc8 > p:nth-of-type(3):hover{
  text-decoration:underline;
}
/*아이패드 프로*/
#contents_6commer div:nth-child(3){
  clear:both;
  float:left;
  background:url(../images/iPad_Pro_large.jpg) no-repeat center bottom;
  background-color:#000;
  background-size:1100px;
  position:relative;
  color:#fff;
}
/*아이패드 프로 로고*/
#contents_ipad_pro > h1{
  position:absolute;
}
#contents_ipad_pro h1:nth-of-type(1){
  left:377px;
  top:56px;
  font-size:40px;
}
/* 막강한 성능의 M2탑재 */
#contents_ipad_pro h1:nth-of-type(2){
  left:347px;
  top:91px;
  font-size:22px;
}
#contents_ipad_pro h1:nth-of-type(2) span{
  animation:ipdp_col_ani 3s infinite linear;
  color:#fd00fd;
  display:block;
  text-align:center;
  float:left;
  margin-top:12px;
}
#contents_ipad_pro h1 span:nth-child(2){
  animation-delay:0.3s;
}
#contents_ipad_pro h1 span:nth-child(3){
  animation-delay:0.6s;
}
#contents_ipad_pro h1 span:nth-child(4){
  animation-delay:0.9s;
  margin-left:5px;
}
#contents_ipad_pro h1 span:nth-child(5){
  animation-delay:1.2s;
}
#contents_ipad_pro h1 span:nth-child(6){
  animation-delay:1.5s;
}
#contents_ipad_pro h1 span:nth-child(7){
  animation-delay:0.3s;
  margin-top:0px;
  margin-left:5px;
}
#contents_ipad_pro h1 span:nth-child(8){
  animation-delay:1.7s;
}
#contents_ipad_pro h1 span:nth-child(9){
  animation-delay:2.0s;
}
/*₩1,249,000부터.../구입하기/더 알아보기*/
#contents_ipad_pro > p{
  text-align:center;
  position:absolute;
  letter-spacing:-2px;
  display:inline-block;
  font-size:21px;
  border:none;
  outline:none;
}
/*₩1,249,000부터...*/
#contents_ipad_pro > p:nth-of-type(1){
  left:330px;
  top:146px;
  letter-spacing:-1px;
  font-size:15px;
}
/* "*" */
#contents_ipad_pro > p:nth-of-type(1) a{
  color:#fff;
}
#contents_ipad_pro > p:nth-of-type(1) a:hover{
  cursor:pointer;
  color:#0071e3;
}
/*구입하기 / 더 알아보기*/
#contents_ipad_pro p a{
  font-weight:bold
}
/*구입하기*/
#contents_ipad_pro > p:nth-of-type(2){
  left:340px;
  top:180px;
  font-size:18px;
  width:90px;
  height:35px;
  line-height:35px;
  border-radius:20px;
  cursor:pointer;
}
#contents_ipad_pro p:nth-of-type(2):hover{
  text-decoration:underline;
}
/*더 알아보기*/
#contents_ipad_pro p:nth-of-type(3){
  top:180px;
  left:460px;
  width:120px;
  height:35px;
  line-height:35px;
  font-size:18px;
  cursor:pointer;
}
#contents_ipad_pro p a{
  color:#0071e3;
}
#contents_ipad_pro > p:nth-of-type(3):hover{
  text-decoration:underline;
}
/*애플티비4k*/
#contents_6commer div:nth-child(4){
  float:right;
  background:url(../images/apple_tv_4k_large.jpg) no-repeat center bottom;
  background-color:#f5f5f7;
  background-size:1262px 580px;
  position:relative;
  color:#000;
}
/*4k 로고*/
#contents_apple_tv_4k > h1{
  position:absolute;
}
#contents_apple_tv_4k h1:nth-of-type(1){
  right:377px;
  top:49px;
}
/* 보다 장대하게 경험하는 Apple의 모든것. */
#contents_apple_tv_4k h1:nth-of-type(2){
  right:328px;
  top:98px;
  font-size:22px;
}
#contents_apple_tv_4k h1:nth-of-type(2) span{
  animation:tv4k_col_ani 3s infinite linear;
  color:#333;
  line-height:1.2em;
}
#contents_apple_tv_4k h1 span:nth-child(2){
  animation-delay:0.8s;
  margin-left:-8px;
}
#contents_apple_tv_4k h1 span:nth-child(3){
  animation-delay:1.1s;
}
#contents_apple_tv_4k h1 span:nth-child(4){
  animation-delay:1.4s;
  margin-left:-8px;
}
#contents_apple_tv_4k h1 span:nth-child(5){
  animation-delay:1.7s;
  margin-left:-8px;
}
#contents_apple_tv_4k h1 span:nth-child(6){
  animation-delay:2.0s;
  margin-left:-8px;
}
#contents_apple_tv_4k h1 span:nth-child(7){
  animation-delay:2.3s;
}
#contents_apple_tv_4k h1 span:nth-child(8){
  animation-delay:2.6s;
  margin-left:-8px;
}
#contents_apple_tv_4k h1 span:nth-child(9){
  animation-delay:2.9s;
  margin-left:-8px;
}
#contents_apple_tv_4k h1 span:nth-child(10){
  animation-delay:3.1s;
  margin-left:-8px;
}
#contents_apple_tv_4k h1 span:nth-child(11){
  animation-delay:3.3s;
  margin-left:40px;
}
#contents_apple_tv_4k h1 span:nth-child(12){
  animation-delay:3.5s;
  margin-left:-8px;
}
#contents_apple_tv_4k h1 span:nth-child(13){
  animation-delay:3.7s;
  margin-left:-8px;
}
#contents_apple_tv_4k h1 span:nth-child(14){
  animation-delay:3.9s;
  margin-left:-8px;
}
#contents_apple_tv_4k h1 span:nth-child(15){
  animation-delay:4.1s;
  margin-left:-8px;
}
#contents_apple_tv_4k h1 span:nth-child(16){
  animation-delay:4.3s;
  margin-left:-8px;
}
#contents_apple_tv_4k h1 span:nth-child(17){
  animation-delay:4.5s;
}
#contents_apple_tv_4k h1 span:nth-child(18){
  animation-delay:4.7s;
  margin-left:-8px;
}
#contents_apple_tv_4k h1 span:nth-child(19){
  animation-delay:4.9s;
}
/*₩219,000부터.../구입하기/더 알아보기*/
#contents_apple_tv_4k > p{
  text-align:center;
  position:absolute;
  letter-spacing:-2px;
  display:inline-block;
  font-size:21px;
  border:none;
  outline:none;
}
/*₩219,,000부터...*/
#contents_apple_tv_4k > p:nth-of-type(1){
  right:325px;
  top:155px;
  letter-spacing:-1px;
  font-size:15px;
}
/* "*" */
#contents_apple_tv_4k > p:nth-of-type(1) a{
  color:#000;
}
#contents_apple_tv_4k > p:nth-of-type(1) a:hover{
  cursor:pointer;
  color:#0071e3;
}
/*구입하기 / 더 알아보기*/
#contents_apple_tv_4k p a{
  font-weight:bold
}
/*구입하기*/
#contents_apple_tv_4k > p:nth-of-type(2){
  right:480px;
  top:180px;
  font-size:18px;
  width:90px;
  height:35px;
  line-height:35px;
  border-radius:20px;
  cursor:pointer;
}
#contents_apple_tv_4k p:nth-of-type(2):hover{
  text-decoration:underline;
}
/*더 알아보기*/
#contents_apple_tv_4k p:nth-of-type(3){
  right:310px;
  top:180px;
  width:120px;
  height:35px;
  line-height:35px;
  font-size:18px;
  cursor:pointer;
}
#contents_apple_tv_4k p a{
  color:#0071e3;
}
#contents_apple_tv_4k > p:nth-of-type(3):hover{
  text-decoration:underline;
}

/*에어팟프로*/
#contents_6commer div:nth-child(5){
  background-color:purple;
  clear:both;
  float:left;
  background:url(../images/AirPods_Pro_large.jpg) no-repeat center bottom;
  background-color:#000;
  background-size:650px;
  position:relative;
  color:#fff;
}
/*에어팟 프로 로고*/
#contents_airpods_pro > h1{
  position:absolute;
}
#contents_airpods_pro h1:nth-of-type(1){
  left:330px;
  top:56px;
  font-size:40px;
}
/* 듣는다는 것을 다시 생각하다. */
#contents_airpods_pro h1:nth-of-type(2){
  left:303px;
  top:91px;
  font-size:22px;
}
#contents_airpods_pro h1:nth-of-type(2) span{
  animation:wcul_col_ani 3s infinite linear;
  color:#fd00fd;
  display:block;
  text-align:center;
  float:left;
  margin-top:12px;
}
#contents_airpods_pro h1 span:nth-child(2){
  animation-delay:0.3s;
}
#contents_airpods_pro h1 span:nth-child(3){
  animation-delay:0.6s;
}
#contents_airpods_pro h1 span:nth-child(4){
  animation-delay:0.9s;
}
#contents_airpods_pro h1 span:nth-child(5){
  animation-delay:1.2s;
  margin-left:5px;
}
#contents_airpods_pro h1 span:nth-child(6){
  animation-delay:1.5s;
}
#contents_airpods_pro h1 span:nth-child(7){
  animation-delay:0.3s;
  margin-left:5px;
}
#contents_airpods_pro h1 span:nth-child(8){
  animation-delay:0.6s;
}
#contents_airpods_pro h1 span:nth-child(9){
  animation-delay:0.9s;
  margin-left:5px;
}
#contents_airpods_pro h1 span:nth-child(10){
  animation-delay:1.2s;
}
#contents_airpods_pro h1 span:nth-child(11){
  animation-delay:1.5s;
}
#contents_airpods_pro h1 span:nth-child(12){
  animation-delay:0.3s;
}
/*₩359,000부터.../구입하기/더 알아보기*/
#contents_airpods_pro > p{
  text-align:center;
  position:absolute;
  letter-spacing:-2px;
  display:inline-block;
  font-size:21px;
  border:none;
  outline:none;
}
/*₩359,000부터...*/
#contents_airpods_pro > p:nth-of-type(1){
  left:335px;
  top:146px;
  letter-spacing:-1px;
  font-size:15px;
}
/* "*" */
#contents_airpods_pro > p:nth-of-type(1) a{
  color:#fff;
}
#contents_airpods_pro > p:nth-of-type(1) a:hover{
  cursor:pointer;
  color:#0071e3;
}
/*구입하기 / 더 알아보기*/
#contents_airpods_pro p a{
  font-weight:bold
}
/*구입하기*/
#contents_airpods_pro > p:nth-of-type(2){
  left:330px;
  top:180px;
  font-size:18px;
  width:90px;
  height:35px;
  line-height:35px;
  border-radius:20px;
  cursor:pointer;
}
#contents_airpods_pro p:nth-of-type(2):hover{
  text-decoration:underline;
}
/*더 알아보기*/
#contents_airpods_pro p:nth-of-type(3){
  top:180px;
  left:452px;
  width:120px;
  height:35px;
  line-height:35px;
  font-size:18px;
  cursor:pointer;
}
#contents_airpods_pro p a{
  color:#0071e3;
}
#contents_airpods_pro > p:nth-of-type(3):hover{
  text-decoration:underline;
}

/*워치 se*/
#contents_6commer div:nth-child(6){
  float:right;
  background:url(../images/watch_se_large.jpg) no-repeat center bottom;
  background-color:#fbfbfd;
  background-size:1262px 580px;
  position:relative;
  color:#000;
}
/*애플워치 SE 로고*/
#contents_wcse > h1{
  position:absolute;
}
#contents_wcse h1:nth-of-type(1){
  right:377px;
  top:49px;
}
/* 부담 없이 빠져들다. */
#contents_wcse h1:nth-of-type(2){
  right:350px;
  top:110px;
  font-size:22px;
}
#contents_wcse h1:nth-of-type(2) span{
  animation:wcse_col_ani 3s infinite linear;
  color:#fd5773;
}
#contents_wcse h1 span:nth-child(2){
  animation-delay:0.7s;
  margin-left:-8px;
}
#contents_wcse h1 span:nth-child(3){
  animation-delay:1.1s;
}
#contents_wcse h1 span:nth-child(4){
  animation-delay:1.4s;
  margin-left:-8px;
}
#contents_wcse h1 span:nth-child(5){
  animation-delay:1.7s;
}
#contents_wcse h1 span:nth-child(6){
  animation-delay:2.0s;
  margin-left:-8px;
}
#contents_wcse h1 span:nth-child(7){
  animation-delay:2.3s;
  margin-left:-8px;
}
#contents_wcse h1 span:nth-child(8){
  animation-delay:2.6s;
  margin-left:-8px;
}
/*₩359,000부터.../구입하기/더 알아보기*/
#contents_wcse > p{
  text-align:center;
  position:absolute;
  letter-spacing:-2px;
  display:inline-block;
  font-size:21px;
  border:none;
  outline:none;
}
/*₩359,,000부터...*/
#contents_wcse > p:nth-of-type(1){
  right:325px;
  top:142px;
  letter-spacing:-1px;
  font-size:15px;
}
/* "*" */
#contents_wcse > p:nth-of-type(1) a{
  color:#111;
}
#contents_wcse > p:nth-of-type(1) a:hover{
  cursor:pointer;
  color:#0071e3;
}
/*구입하기 / 더 알아보기*/
#contents_wcse p a{
  font-weight:bold
}
/*구입하기*/
#contents_wcse > p:nth-of-type(2){
  right:480px;
  top:165px;
  font-size:18px;
  width:90px;
  height:35px;
  line-height:35px;
  border-radius:20px;
  cursor:pointer;
}
#contents_wcse p:nth-of-type(2):hover{
  text-decoration:underline;
}
/*더 알아보기*/
#contents_wcse p:nth-of-type(3){
  right:310px;
  top:165px;
  width:120px;
  height:35px;
  line-height:35px;
  font-size:18px;
  cursor:pointer;
}
#contents_wcse p a{
  color:#0071e3;
}
#contents_wcse > p:nth-of-type(3):hover{
  text-decoration:underline;
}
/*애플티비 자동슬라이드 전체*/
#appletv_post{
  clear:both;
  width:100%;
  height:387px;
  /* background-color:#91be59; */
  background-color:#000;
  min-width:1920px;
  position:relative;
  margin-left:auto;
  margin-right:auto;
}
/* js 클릭시 이미지변경 */
#appletv_post.bg1{
  background-color: #6ba23d;
}
#appletv_post.bg2{
  background-color: #0b2056;
}
#appletv_post.bg3{
  background-color: #000000;
}
#appletv_post.bg4{
  background-color: #a2d8b4;
}
#appletv_post.bg5{
  background-color: #8d9d8a;
}
#appletv_post.bg6{
  background-color: #f8a522;
}
/*버튼종합모음*/
.appletv_post_con{
  width:1400px;
  height:388px;
  margin:0 auto;
  position:relative;
  z-index:5;
}
/* 애플티비 포스터 */
#atv_p{
  width:686px;
  height:100%;
  overflow: hidden;
  margin:0 auto;
}
.atv{
  width:688px;
  height:387px;
}
.atv li{
  width:688px;
  height:387px;
  float:left;
  text-align: center;
}
/*애플티비 로고*/
.appletv_post_abridg h1:nth-of-type(1){
  position:absolute;
  left:0;
  top:80px;
  width:35px;
  height:35px;
}
.appletv_post_abridg h1:nth-of-type(1) img{
  width:35px;
  height:35px;
}
/* Apple TV+ */
.appletv_post_abridg h1:nth-of-type(2){
  position:absolute;
  left:42px;
  top:90px;
  font-size:20px;
}
/* One 번들에 포함*/
.appletv_post_abridg h1:nth-of-type(3){
  position:absolute;
  left:166px;
  top:85px;
  font-size:15px;
  width:140px;
  height:25px;
  border:1px solid #fff;
  border-radius:30px;
  text-indent:27px;
  line-height:27px;
  background:url(../images/menutab/applelogo.svg) no-repeat 10px -9px;
}
/* 수상에 빛나는... */
.appletv_post_abridg h1:nth-of-type(4){
  position:absolute;
  left:0;
  top:140px;
  font-size:30px;
  line-height:35px;
}
/*무료 체험하기*/
.appletv_post_abridg p:nth-of-type(1){
  position:absolute;
  left:0;
  top:320px;
  font-size:15px;
  font-weight:bold;
  width:120px;
  height:40px;
  line-height:41px;
  text-align:center;
  background-color:#666;
  border-radius:40px;
  letter-spacing:-1px;
  cursor:pointer;
}
.appletv_post_abridg p:nth-of-type(1) a{
  color:#eaeaea;
}
.appletv_post_abridg p:nth-of-type(1):hover{
  background-color:#999;
  text-decoration:underline;
}
/*더 알아보기*/
.appletv_post_abridg p:nth-of-type(2){
  position:absolute;
  left:150px;
  top:320px;
  font-size:15px;
  font-weight:bold;
  width:120px;
  height:40px;
  line-height:41px;
  text-align:center;
  border-radius:40px;
  background-color:#666;
  cursor:pointer;
  letter-spacing:-1px;
}
.appletv_post_abridg p:nth-of-type(2) a{
  color:#eaeaea;
  font-weight:bold;
}
.appletv_post_abridg p:nth-of-type(2):hover{
  text-decoration:underline;
  background-color:rgba(8,110,49,0.1);
  background-color:#999;
}
/*Apple TV 앱에서 시청하기*/
.appletv_post_abridg p:nth-of-type(3){
  position:absolute;
  top:268px;
  font-size:16px;
  font-weight:bold;
}
.appletv_post_abridg p:nth-of-type(3):hover{
  padding-bottom:4px;
  border-bottom:1px solid #fff;
}
/*화살표 / 버튼 */
.prev,.next{
  position:absolute;
  cursor:pointer;
  z-index:10;
}
/*이전화살표*/
.prev{
  left:26%;
  top:55%;
  transform:translate(0,-50%);
}
/*다음화살표*/
.next{
  right:26%;
  top:55%;
  transform:translate(0,-50%);
}
/*contents_excuseme 업무일.../금융혜택.../도움이..*/
#contents_excuseme{
  clear:both;
  width:100%;
  height:300px;
  min-width:1920px;
  position:relative;
  margin:10px auto 10px;
  line-height:1.7em;
  background-color:#f1f1f1;
}
#contents_ex{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
#contents_ex h2{
  font-size:16px;
}
.c_delivery{
  width:300px;
  height:200px;
  float:left;
  color:#000;
  text-align:center;
}
.c_delivery p:nth-child(3){
  margin-top:7px;
}
.c_delivery p:nth-child(4){
  margin-top:7px;
}
.c_cash{
  width:300px;
  height:200px;
  float:left;
  color:#000;
  text-align:center;
}
.c_cash p:nth-child(3){
  margin-top:7px;
}
.c_cash p:nth-child(4){
  margin-top:7px;
}
.c_cani{
  width:300px;
  height:200px;
  float:left;
  color:#000;
  text-align:center;
}
.c_cani p:nth-child(3){
  margin-top:7px;
}
.c_cani p:nth-child(4){
  margin-top:7px;
}
/*더 알아보기, 문의하기*/
#contents_excuseme a{
  color:#0071e3;
  font-weight:bold;
  font-size:14px;
}
#contents_excuseme a:hover{
  text-decoration:underline;
}
/*acc_suggestion 추천액세서리 전체*/
#acc_suggestion{
  color:#000;
  clear:both;
  width:100%;
  height:1900px;
  min-width:1920px;
  position:relative;
  line-height:1.7em;
  background-color:#f9f9f9;
}
#suggestion{
  margin-left:auto;
  margin-right:auto;
}
/*MagSafe*/
.acc_magsafe{
  width:1233px;
  height:531px;
  background:#ffffff url(../images/macsafe_large.jpg) no-repeat center right;
  left:50%;
  transform:translate(-50%);
  margin-bottom:10px;
  position:relative;
}
/*추천액세서리*/
.suggestion_title{
  position:relative;
  left:50%;
  top:65px;
  transform:translate(-50%);
  text-align:center;
  font-size:40px;
  height:40px;
  letter-spacing:-2px;
  margin-top:20px;
  margin-bottom:120px;
}
/*MagSafe 마그네틱 케이스...*/
.acc_magsafe p{
  margin-top:20px;
  color:#555;
}
.magsafe_wrap{
  position:absolute;
  top:110px;
  left:150px;
}
.magsafe_wrap h1{
  font-size:50px;
  text-align:center;
  line-height:60px;
}
.magsafe_wrap p{
  font-size:18px;
  text-align:center;
  line-height:1.7em;
}
.magsafe_wrap p:nth-child(3) a:hover{
  text-decoration:underline;
}
/*AirTag*/
.acc_airtag{
  width:1233px;
  height:531px;
  background:#ffffff url(../images/airtag_large.jpg) no-repeat center left;
  left:50%;
  transform:translate(-50%);
  margin-bottom:10px;
  position:relative;
}
.acc_airtag p{
  margin-top:20px;
  color:#555;
}
.airtag_wrap{
  position:absolute;
  top:110px;
  right:90px;
}
.airtag_wrap h1{
  font-size:50px;
  text-align:center;
  line-height:60px;
}
.airtag_wrap p{
  font-size:18px;
  text-align:center;
  line-height:1.7em;
}
.airtag_wrap p:nth-child(3){
  float:left;
  margin-left:80px;
}
.airtag_wrap p:nth-child(3) a:hover, .airtag_wrap p:nth-child(4) a:hover{
  text-decoration:underline;
}
/*매혹의 유전자.*/
.acc_headphone{
  width:1233px;
  height:531px;
  background:#ffffff url(../images/headphone_large.jpg) no-repeat center;
  left:50%;
  transform:translate(-50%);
  margin-bottom:30px;
  position:relative;
}
.acc_headphone p{
  margin-top:20px;
  color:#555;
}
.headphone_wrap{
  position:absolute;
  top:30px;
  left:460px;
}
.headphone_wrap h1{
  font-size:50px;
  text-align:center;
  line-height:60px;
}
.headphone_wrap p{
  font-size:18px;
  text-align:center;
  line-height:1.7em;
}
.headphone_wrap p:nth-child(3) a:hover{
  text-decoration:underline;
}
/*아이폰 액세서리 모두 보기*/
#suggestion > p:last-child{
  text-align:center;
  padding-top:20px;
}
#suggestion > p:last-child a{
  font-size:20px;
}
#suggestion > p:last-child a:hover{
  text-decoration:underline;
}
/*전체 a태그 쇼핑하기, 구입하기, 더 알아보기, 모두보기*/
#acc_suggestion a{
  color:#0071e3;
  font-weight:bold;
}