@charset "utf-8";

/*초기화*/
div,h3,hr,h4,ul,li,ol{ /*여백초기화*/
    padding:0;
    margin:0;
}
ul,ol,li{
    list-style:none; /*숫자,블릿기호 초기화*/
}
body{ 
    font-size:15px; /*바디에 폰트사이즈 초기화해도 h태그는 안됨*/
    font-family:"맑은고딕","Malgun Gothic",sans-serif;
    line-height:1.5em;
    color:#333333;
}
/*wrap*/
#wrap > h4{
    color:#0066ff;
}
#wrap ul,#wrap ol{
    margin-bottom:10px;
}
.list1 > li{
    list-style-type:disc; /*여백초기화때문에 안보임*/
    list-style-position:inside; /*포지션인사이드로 들여쓰기됨*/
}
.list2 > li{
    list-style-type:square;
    list-style-position:inside;
}
.list3 > li{
    list-style-type:circle;
    list-style-position:inside;
}
.list4 > li{
    list-style-image:url(../images/icon7.gif);
    list-style-position:inside;
}
.list5 > li{
    background:url(../images/icon7.gif) no-repeat left center;
    padding-left:15px;
    list-style-position:inside;
}
/*여기까지 ul*/
/*여기부터 ol*/
.list6 > li{
    list-style-type:decimal;
    margin-left:20px;
}
.list7 > li{
    list-style-type:upper-alpha;
    margin-left:20px;
}
.list8 > li{
    list-style-type:lower-alpha;
    margin-left:20px;
}
.list9 > li{
    list-style-type:upper-roman;
    margin-left:20px;
}
.list10 > li{
    list-style-type:lower-roman;
    margin-left:20px;
}
.list11 > li{
    list-style-type:decimal-leading-zero;
    margin-left:20px;
}
.list12 > li{
    list-style-image:url(../images/icon8.gif);
    margin-left:20px; /*리스트 이미지로 이미지 불러오기*/
}
.list13 > li{
    background:url(../images/icon8.gif) no-repeat left center;
    text-indent:20px; /*백그라운드 이미지에 text-indent 첫줄 들여쓰기로도 가능*/
}
.list14 > li{
    list-style-type:korean-hanja-informal; /*한자*/
    margin-left:20px;
}
.list15 > li{
    list-style-type:korean-hangul-formal;
    margin-left:20px;
}
.list16 > li{
    list-style-type:hangul;
    margin-left:20px;
}