@charset "utf-8";

#address1, #address1_1{
    width:792px;
}

#address1 a{
    text-decoration:none;
    color:#000000;
    font-weight:bold;
    word-spacing:15px;
}

#address1_1 iframe{
    border:solid 5px #e9e9e9;
    margin-top:20px;
}